{% block tittle %} CONTROL {% endblock %}
        <li>   <a href="{% url "primer_parcial"%}"> primer_parcial </a>   </li>
        <li>   <a href="{% url "segundo_parcial"%}"> segundo_parcial </a>     </li>
        <li>   <a href="{% url "tercer_parcial"%}"> tercer_parcial </a>     </li>
        <li>   <a href="{% url "primer_quimestre"%}"> primer_quimestre </a>     </li>
        <li>   <a href="{% url "primer_parcial_segundo_quimestre"%}"> primer_parcial_segundo_quimestre </a>   </li>
        <li>   <a href="{% url "segundo_parcial_segundo_quimestre"%}"> segundo_parcial_segundo_quimestre </a>     </li>
        <li>   <a href="{% url "tercer_parcial_segundo_quimestre"%}"> tercer_parcial_segundo_quimestre </a>     </li>
        <li>   <a href="{% url "segundo_quimestre"%}"> segundo_quimestre </a>     </li>
         <li>   <a href="{% url "dias_de_la_semana"%}"> dias_de_la_semana </a>     </li>
        <li>   <a href="{% url "meses_del_año"%}"> meses_del_año </a>     </li>